<div class="row">
  <div class="col-md-4">
    <box-heading>Spieler hinzufügen</box-heading>
    <form ng-submit="singlesCtrl.addPlayer()">
      <div class="tab-content table-border" style="padding:15px 15px 0 15px">
        <div class="form-group">
          <input type="text" style="text-transform: uppercase" class="form-control input-sm" placeholder="Name" ng-model="singlesCtrl.player.name" required>
        </div>
      </div>
      <div class="btn-row">
        <button class="btn btn-default" type="submit">Hinzufügen</button>
      </div>
    </form>
  </div>
  <div class="col-md-8">
    <box-heading>Angemeldete Spieler</box-heading>
    <div class="tab-content table-border">
      <table class="table">
        <thead>
          <tr>
            <th class="td-50 text-center">Nr.</th>
            <th>Name</th>
            <th class="td-20"></th>
          </tr>
        </thead>
      </table>
      <div scroll-glue scrolltable with-btn-row="!singlesCtrl.data.ongoing">
        <table class="table">
          <tbody>
            <tr class="hover" ng-repeat="player in singlesCtrl.data.teamList">
              <td class="active text-center td-50">
                {{ $index + 1 }}
              </td>
              <td>{{ player.name }}</td>
              <td class="td-20 text-right" ng-click="singlesCtrl.removePlayer($index)">
                <i class="glyphicon glyphicon-remove text-danger"></i>
              </td>
            </tr>
            <tr class="text-muted" ng-repeat="player in singlesCtrl.data.teamListOut">
              <td class="active text-center td-50">
                {{ $index + 1 + singlesCtrl.data.teamList.length }}
              </td>
              <td>{{ player.name }}</td>
              <td class="td-20"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="btn-row" ng-hide="singlesCtrl.data.ongoing">
      <button class="btn btn-default" ng-click="singlesCtrl.startTournament()">
        Turnier starten
      </button>
  </div>
</div>
