<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <form ng-submit="add()">
        <insert-player player="player"></insert-player>
        <button class="btn btn-default" type="submit">Hinzufügen</button>
      </form>
      <button class="btn btn-default">Exportiere</button>
      <button class="btn btn-default">Importiere</button>
    </div>
    <div class="col-sm-8">
      <table>
        <tr ng-repeat="p in globals.globalPlayerList">
          <td>{{ p.name }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>