<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="col-sm-4">
    <div class="nav navbar-form navbar-right">
      <button class="btn btn-primary" ng-disabled="validateInput()" ng-click="add()">Hinzufügen</button>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="nav navbar-form navbar-right">
      <button class="btn btn-primary" ng-disabled="globals.teamList.length < 2" ng-click="start()">
        Turnier starten <i class="glyphicon glyphicon-menu-right"></i>
      </button>
    </div>
  </div>
</div>