<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <form ng-submit="addPlayer()">
                <h2>Spieler eintragen
                    <button type="submit" class="btn btn-success btn-sm pull-right" ng-disabled="newPlayer.name == null">
                        Hinzufügen
                    </button>
                </h2>

                <div class="form-group" class="horizontal-form">
                    <label class="sr-only">Name</label>
                    <input type="text" class="form-control input-sm" ng-model="newPlayer.name" required placeholder="Name">

                </div>
                <div class="form-group">
                    <label class="sr-only">Position</label>
                    <div class="btn-group btn-group-justified">
                        <label class="btn btn-default btn-sm" ng-model="newPlayer.position" ng-repeat="position in POSITIONS" btn-radio="{{ position.value }}">{{ position.name }}</label>

                    </div>
                </div>
                <div class="form-group">
                    <label class="sr-only">Stärke</label>
                    <div class="btn-group btn-group-justified">
                        <label class="btn btn-default btn-sm" ng-model="newPlayer.type" ng-repeat="type in TYPES" btn-radio="{{ type.value }}">{{ type.name }}</label>
                    </div>
                </div>



            </form>
        </div>
        <div class="col-sm-4" ng-hide="player.length == 0">
            <h2>Angemeldete Spieler
                <a href class="btn btn-sm btn-success pull-right" ng-click="createTeams()" ng-disabled="player.length % 2 == 1">Lose Teams</a></h2>
            <table class="table table-hover">
                <tbody>
                    <tr ng-repeat="p in player" ng-click="removePlayer($index)">
                        <td>{{ p.name }}</td>
                        <td>{{ getPosition(p.position) }}</td>
                        <td>{{ getType(p.type) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-4" ng-hide="teams.length == 0">
            <h2>Teams</h2>
            <table class="table">
                <tbody>
                    <tr ng-repeat="team in teams">
                        <td ng-class="team.danger ? 'text-danger' : ''">{{ team.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="navbar navbar-fixed-bottom" ng-show="teams.length > 0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <a href class="btn btn-success btn-block btn-lg" ng-click="startTourment()">Vorrunde starten</a>
            </div>
        </div>
    </div>
</div>
