<form ng-submit="startTourment()">
<div class="container-fluid">
    
        <div class="row">

            <div class="col-md-3 col-md-offset-3">
                <h2>Modus</h2>
                <div class="btn-group-vertical btn-block">
                    <label class="btn btn-default btn-lg" ng-model="modus" btn-radio="1">Fair for All DYP</label>
                    <label class="btn btn-default btn-lg" ng-model="modus" btn-radio="2">Monster DYP</label>
                    <label class="btn btn-default btn-lg" ng-model="modus" btn-radio="3">Festes Doppel</label>
                </div>
            </div>

            <div class="col-md-3" ng-show="modus != null">
                <h2>Anzahl Tische</h2>
                <div class="horizontal-form">
                    <input class="form-control input-lg" type="number" ng-model="tables" autofocus>

                </div>
            </div>
        </div>
</div>
<div class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3" ng-show="modus != null && tables > 0">
                <h2>&nbsp;</h2>
                <button type="submit" class="btn btn-success btn-block btn-lg">Turnier starten</button>
            </div>
        </div>
        
    </div>
</div>
</form>
