<div class="container-fluid">

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Tabelle</h3>
                    <a href ng-click="startKORound()">Ko Runde</a>
                </div>
                <div scrolltable>
                    <table class="table">
                        <thead>
                            <tr class="active">
                                <th width="5%" class="text-center">Nr.</th>
                                <th width="90%" class="text-center">Team</th>
                                <th width="5%" class="text-center">Punkte</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr ng-repeat="team in getRanking()">
                                <td class="active">{{ $index+1 }}</td>

                                <td>{{ team.name }}</td>
                                <td>{{ team.points }}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

<div scrolltable>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Laufende Partien</h3>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr class="active">
                            <th width="5%" class="text-center">Tisch</th>
                            <th width="10%" class="text-center">Runde</th>
                            <th width="40%" class="text-center">Team 1</th>
                            <th width="5%" class="text-center"></th>
                            <th width="40%" class="text-center">Team 2</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr ng-repeat="table in getCurrentMatches() track by $index" ng-click="insertScore($index)">
                            <td class="active">{{ $index+1 }}</td>
                            <td>{{ table.round }}</td>
                            <td>{{ table.team1.name }}</td>
                            <td>
                                <span ng-show="table.team1 != null">vs.</span>
                                <span ng-show="table.team1 == null">Frei</span>
                            </td>
                            <td>{{ table.team2.name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Nächste Partien</h3>
                </div>
                <table class="table">
                    <thead>
                        <tr class="active">
                            <th width="5%" class="text-center">Tisch</th>
                            <th width="10%" class="text-center">Runde</th>
                            <th width="40%" class="text-center">Team 1</th>
                            <th width="5%" class="text-center"></th>
                            <th width="40%" class="text-center">Team 2</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr ng-repeat="match in getNextMatches()">
                            <td class="active"></td>
                            <td>{{ match.round }}</td>
                            <td>{{ match.team1.name }}</td>
                            <td>vs. </td>
                            <td>{{ match.team2.name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Gespielte Partien</h3>
                </div>
                <table class="table">
                    <thead>
                        <tr class="active">
                            <th width="5%" class="text-center">Tisch</th>
                            <th width="10%" class="text-center">Runde</th>
                            <th width="40%" class="text-center">Team 1</th>
                            <th width="5%" class="text-center"></th>
                            <th width="40%" class="text-center">Team 2</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr ng-repeat="match in getPlayedMatches()">
                            <td class="active"></td>
                            <td>{{ match.round }}</td>
                            <td>{{ match.team1.name }}</td>
                            <td>{{ match.score.team1 + ':' + match.score.team2 }}</td>
                            <td>{{ match.team2.name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</div>
