<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <form ng-submit="add()">
        <div class="tab-content bottom table-border text-right" style="padding:10px">
          <insert-player ng-if="globals.modus === K.ONE_ON_ONE"></insert-player>
          <insert-team ng-if="globals.modus === K.TWO_ON_TWO"></insert-team>
        </div>
        <ul class="nav nav-tabs bottom">
          <li class="active">
            <a>{{ globals.modus === K.ONE_ON_ONE ? 'Spieler' : 'Team' }} hinzufügen</a>
          </li>
          <li class="pull-right">
            <button class="btn btn-primary" type="submit" ng-disabled="validateInput()">Hinzufügen</button>
          </li>
        </ul>
      </form>
    </div>
    <div class="col-sm-8">
      <div class="tab-content bottom table-border">
        <table class="table">
          <thead>
            <tr>
              <th width="5%">Nr.</th>
              <th>Name</th>
            </tr>
          </thead>
        </table>
        <div scrolltable scroll-glue>
          <table class="table">
            <tbody>
              <tr ng-repeat="p in globals.teamList" ng-click="remove($index)" class="hover">
                <td width="5%" class="active text-center">
                  {{ $index + 1}}
                </td>
                <td>
                  {{ p.name }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <ul class="nav nav-tabs bottom">
        <li class="active"><a>Angemeldete {{ globals.modus === K.ONE_ON_ON ? 'Spieler':'Teams' }}</a></li>
        <li ng-hide="globals.ongoing" class="pull-right">
          <button class="btn btn-primary" ng-click="start()">
            Turnier starten
            <i class="glyphicon glyphicon-menu-right"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>