<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <form ng-submit="add()">
        <div>
          <ul class="nav nav-tabs">
            <li class="active">
              <a>{{ globals.modus === K.ONE_ON_ONE ? 'Spieler' : 'Team' }} hinzufügen</a>
            </li>
          </ul>
        </div>

        <div class="tab-content table-border text-right" style="padding:10px">
          <insert-player ng-if="globals.modus === K.ONE_ON_ONE"></insert-player>
          <insert-team ng-if="globals.modus === K.TWO_ON_TWO"></insert-team>
        </div>
        <button type="submit" class="btn btn-success btn-sm btn-next-step" ng-disabled="validateInput()">
          Hinzufügen
        </button>
      </form>
    </div>
    <div ng-class="isFairForAll ? 'col-sm-4' : 'col-sm-8'">
      <div>
        <ul class="nav nav-tabs">
          <li class="active"><a>Angemeldete {{ globals.modus === K.ONE_ON_ON ? 'Spieler':'Teams' }}</a></li>
        </ul>
      </div>
      <div class="tab-content table-border">
        <table class="table">
          <thead>
            <tr>
              <th width="5%">Nr.</th>
              <th>Name</th>
            </tr>
          </thead>
        </table>
        <div scrolltable scroll-glue>
          <table class="table">
            <tbody>
              <tr ng-repeat="p in globals.teamList" ng-click="remove($index)" class="hover">
                <td width="5%" class="active text-center">
                  {{ $index + 1}}
                </td>
                <td>
                  {{ p.name }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <button class="btn btn-success btn-sm btn-next-step" ng-click="start()" ng-hide="isFairForAll" ng-disabled="globals.teamList.length < 2">
        {{ btnText }}
        <span class="glyphicon glyphicon-menu-right"></span>
      </button>

    </div>
  </div>
</div>