<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <form ng-submit="add()">
        <div>
          <ul class="nav nav-tabs">
            <li class="active">
              <a>Spieler hinzufügen</a>
            </li>
          </ul>
        </div>

        <div class="tab-content table-border text-right" style="padding:10px">
          <div class="form-group">
            <label class="sr-only">Name</label>
            <input type="text" class="form-control input-sm" ng-model="newPlayer.name" placeholder="Name" focus-me="focusInput" />

          </div>
          <div class="form-group">
            <label class="sr-only">Position</label>
            <div class="btn-group btn-group-justified">
              <label class="btn btn-default btn-sm" ng-model="newPlayer.position" ng-repeat="position in POSITIONS" uib-btn-radio="{{ position.value }}">
                {{ position.name }}
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only">Stärke</label>
            <div class="btn-group btn-group-justified">
              <label class="btn btn-default btn-sm" ng-model="newPlayer.type" ng-repeat="type in TYPES" uib-btn-radio="{{ type.value }}">
                {{ type.name }}
              </label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success btn-sm btn-next-step" ng-disabled="validateInput()">
          Hinzufügen
        </button>
      </form>
    </div>
    <div class="col-sm-4">
      <div>
        <ul class="nav nav-tabs">
          <li class="active"><a>Angemeldete Spieler</a></li>
        </ul>
      </div>
      <div class="tab-content table-border">
        <table class="table">
          <thead>
            <tr>
              <th width="5%">Nr.</th>
              <th>Name</th>
            </tr>
          </thead>
        </table>
        <div scrolltable scroll-glue>
          <table class="table">
            <tbody>
              <tr ng-repeat="p in globals.playerList" ng-click="remove($index)" class="hover">
                <td width="5%" class="active text-center">
                  {{ $index + 1}} </td>
                <td>
                  {{ p.name }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <button class="btn btn-success btn-sm btn-next-step" ng-click="createTeams()" ng-disabled="disabledDraw()">
        Lose Teams
        <span class="glyphicon glyphicon-menu-right"></span>
      </button>
    </div>

    <div class="col-sm-4">
      <div>
        <ul class="nav nav-tabs">
          <li class="active"><a>Teams</a></li>
        </ul>
      </div>
      <div class="tab-content table-border">
        <table class="table">
          <thead>
            <tr>
              <th width="5%">Nr.</th>
              <th>Name</th>
            </tr>
          </thead>
        </table>
        <div scrolltable>
          <table class="table">
            <tbody>
              <tr ng-repeat="team in globals.teamList">
                <td width="5%" class="active text-center">
                  {{ $index +1 }}
                </td>
                <td ng-class="team.danger ? 'text-danger' : ''">
                  {{ team.name }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <button class="btn btn-success btn-sm btn-next-step" ng-click="start()" ng-disabled="globals.teamList.length < 2">
        {{ btnText }}
        <span class="glyphicon glyphicon-menu-right"></span>
      </button>
    </div>
  </div>
</div>