<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <form ng-submit="add()">
        <div>
          <ul class="nav nav-tabs">
            <li class="active">
              <a>Spieler hinzufügen</a>
            </li>
          </ul>
        </div>

        <div class="tab-content table-border text-right"
             style="padding:10px">
          <insert-form></insert-form>          
        </div>
        <button type="submit" 
                class="btn btn-success btn-sm btn-next-step" 
                ng-disabled="validateInput()">
          Hinzufügen
        </button>
      </form>
    </div>
    <div ng-class="isFairForAll ? 'col-sm-4' : 'col-sm-8'">
      <div>
        <ul class="nav nav-tabs">
          <li class="active"><a>Angemeldete {{ header }}</a></li>
        </ul>            
      </div>
      <div class="tab-content table-border">
        <table class="table">
          <thead>
            <tr>
              <th width="5%">Nr.</th>
              <th>Name</th>
            </tr>
          </thead>
        </table>
        <div scrolltable scroll-glue>
          <table class="table">    
            <tbody>
              <tr ng-repeat="p in getPlayer()" 
                  ng-click="remove($index)"
                  class="hover">
                <td width="5%" 
                    class="active text-center">
                  {{ $index + 1}}
                </td>
                <td>
                  {{ p.getName() }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <button class="btn btn-success btn-sm btn-next-step" 
              ng-click="start()"
              ng-hide="isFairForAll"
              ng-disabled="getTeams().length < 2">
        Vorrunde starten
        <span class="glyphicon glyphicon-menu-right"></span>
      </button>
      
      <button class="btn btn-success btn-sm btn-next-step" 
              ng-click="createTeams()" 
              ng-show="isFairForAll"
              ng-disabled="disabledDraw()">
        Lose Teams 
        <span class="glyphicon glyphicon-menu-right"></span>
      </button>
    </div>

    <div class="col-sm-4" ng-show="isFairForAll">
      <div>
        <ul class="nav nav-tabs">
          <li class="active"><a>Teams</a></li>
        </ul>
      </div>
      <div class="tab-content table-border">
        <table class="table">
          <thead>
            <tr>
              <th width="5%">Nr.</th>
              <th>Name</th>
            </tr>
          </thead>
        </table>
        <div scrolltable>
          <table class="table">
            <tbody>
              <tr ng-repeat="team in getTeams()">
                <td width="5%" 
                    class="active text-center">
                  {{ $index +1 }}
                </td>
                <td ng-class="team.danger ? 'text-danger' : ''">
                  {{ team.getName() }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <button class="btn btn-success btn-sm btn-next-step" 
              ng-click="start()" 
              ng-disabled="getTeams().length < 2">
        Vorrunde starten
        <span class="glyphicon glyphicon-menu-right"></span>
      </button>
    </div>
  </div>
</div>