<div class="downloading" ng-show="downloading">
  <p>Update wird geladen...</p>
</div>
<!-- .downloading -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="tab-content bottom" style="padding: 20px;">
        <div class="form-horizontal">
          <div class="form-group">
            <label for="inputModus" class="col-sm-6 control-label">Modus</label>
            <div class="col-sm-6">
              <select class="form-control" id="inputModus" ng-model="globals.modus" ng-options="modus.value as modus.name for modus in optionsModus"></select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputTables" class="col-sm-6 control-label">Anzahl Tische</label>
            <div class="col-sm-6">
              <input id="inputTables" type="number" class="form-control" ng-model="globals.tables">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDraw" class="col-sm-6 control-label">Unentschieden während der Vorrunde?</label>
            <div class="col-sm-6">
              <select class="form-control" id="inputDraw" ng-model="globals.withDraw" ng-options="modus.value as modus.name for modus in optionsDraw"></select>
            </div>
          </div>
        </div>
      </div>
      <ul class="nav nav-tabs bottom">
        <li class="active"><a>Einstellungen</a></li>
        <li class="pull-right">
          <button ng-click="start()" class="btn btn-primary">Turnier starten</button>
        </li>
      </ul>

    </div>

  </div>
</div>